<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ControllerUserSide.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>ControllerUserSide.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>ControllerUserSide.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ControllerUserSide.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>ControllerAdminSide.ManageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserByAdServlet</servlet-name>
        <servlet-class>ControllerAdminSide.UpdateUserByAdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBlockUserServlet</servlet-name>
        <servlet-class>ControllerAdminSide.ListBlockUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUserServlet</servlet-name>
        <servlet-class>ControllerAdminSide.BlockUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnBlockUserServlet</servlet-name>
        <servlet-class>ControllerAdminSide.UnBlockUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>ControllerAdminSide.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMealServlet</servlet-name>
        <servlet-class>ControllerUserSide.ShowMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMealServlet</servlet-name>
        <servlet-class>ControllerAdminSide.AddMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMealServlet</servlet-name>
        <servlet-class>ControllerAdminSide.ManageMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMealServlet</servlet-name>
        <servlet-class>ControllerAdminSide.UpdateMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMealServlet</servlet-name>
        <servlet-class>ControllerAdminSide.DeleteMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MealngredientServlet</servlet-name>
        <servlet-class>ControllerAdminSide.MealngredientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletedMealServlet</servlet-name>
        <servlet-class>ControllerAdminSide.DeletedMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreMealServlet</servlet-name>
        <servlet-class>ControllerAdminSide.RestoreMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>ControllerUserSide.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailServlet</servlet-name>
        <servlet-class>ControllerUserSide.ShowDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddIngredients</servlet-name>
        <servlet-class>ControllerAdminSide.AddIngredients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageIngredient</servlet-name>
        <servlet-class>ControllerAdminSide.ManageIngredient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIngredientServlet</servlet-name>
        <servlet-class>ControllerAdminSide.UpdateIngredientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteIngredientServlet</servlet-name>
        <servlet-class>ControllerAdminSide.DeleteIngredientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletedIngredientServlet</servlet-name>
        <servlet-class>ControllerAdminSide.DeletedIngredientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreInredientServlet</servlet-name>
        <servlet-class>ControllerAdminSide.RestoreInredientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmailOrPhoneServlet</servlet-name>
        <servlet-class>ControllerAdminSide.SearchEmailOrPhoneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserBlockServlet</servlet-name>
        <servlet-class>ControllerAdminSide.SearchUserBlockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControllerServlet</servlet-name>
        <servlet-class>ControllerUserSide.CartControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveOrderServlet</servlet-name>
        <servlet-class>ControllerUserSide.SaveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MangegeOrdersServlet</servlet-name>
        <servlet-class>ControllerAdminSide.MangegeOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderByDateServlet</servlet-name>
        <servlet-class>ControllerAdminSide.SearchOrderByDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrdersServlet</servlet-name>
        <servlet-class>ControllerAdminSide.UpdateOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrderDetailServlet</servlet-name>
        <servlet-class>ControllerAdminSide.ShowOrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddIngredientToCartServlet</servlet-name>
        <servlet-class>ControllerUserSide.AddIngredientToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngredientCartController</servlet-name>
        <servlet-class>ControllerUserSide.IngredientCartControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>ControllerUserSide.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderHistoryDetailsServlet</servlet-name>
        <servlet-class>ControllerUserSide.GetOrderHistoryDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrdersServlet</servlet-name>
        <servlet-class>ControllerUserSide.CancelOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/ManageUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserByAdServlet</servlet-name>
        <url-pattern>/UpdateUserByAdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBlockUserServlet</servlet-name>
        <url-pattern>/ListBlockUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUserServlet</servlet-name>
        <url-pattern>/BlockUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnBlockUserServlet</servlet-name>
        <url-pattern>/UnBlockUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMealServlet</servlet-name>
        <url-pattern>/ShowMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMealServlet</servlet-name>
        <url-pattern>/AddMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMealServlet</servlet-name>
        <url-pattern>/ManageMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMealServlet</servlet-name>
        <url-pattern>/UpdateMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMealServlet</servlet-name>
        <url-pattern>/DeleteMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MealngredientServlet</servlet-name>
        <url-pattern>/MealngredientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletedMealServlet</servlet-name>
        <url-pattern>/DeletedMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreMealServlet</servlet-name>
        <url-pattern>/RestoreMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailServlet</servlet-name>
        <url-pattern>/ShowDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddIngredients</servlet-name>
        <url-pattern>/AddIngredients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageIngredient</servlet-name>
        <url-pattern>/ManageIngredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIngredientServlet</servlet-name>
        <url-pattern>/UpdateIngredientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteIngredientServlet</servlet-name>
        <url-pattern>/DeleteIngredientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletedIngredientServlet</servlet-name>
        <url-pattern>/DeletedIngredientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreInredientServlet</servlet-name>
        <url-pattern>/RestoreInredientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmailOrPhoneServlet</servlet-name>
        <url-pattern>/SearchEmailOrPhoneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserBlockServlet</servlet-name>
        <url-pattern>/SearchUserBlockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControllerServlet</servlet-name>
        <url-pattern>/CartControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveOrderServlet</servlet-name>
        <url-pattern>/SaveOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MangegeOrdersServlet</servlet-name>
        <url-pattern>/MangegeOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderByDateServlet</servlet-name>
        <url-pattern>/SearchOrderByDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrdersServlet</servlet-name>
        <url-pattern>/UpdateOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrderDetailServlet</servlet-name>
        <url-pattern>/ShowOrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddIngredientToCartServlet</servlet-name>
        <url-pattern>/AddIngredientToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngredientCartController</servlet-name>
        <url-pattern>/IngredientCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderHistoryDetailsServlet</servlet-name>
        <url-pattern>/GetOrderHistoryDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrdersServlet</servlet-name>
        <url-pattern>/CancelOrdersServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ShowMealServlet</welcome-file>
    </welcome-file-list>
</web-app>
